
    body {
    margin: 0;
    font-family: Franklin Gothic Medium;
    
    }
    
    .nombre {
        color: #ffffff;
        font-size: 25px;
    }

    .header {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #333;
    color: white;
    font-size: 15px
    }

    .menu a {
    color: white;
    margin-left: 15px;
    }

    .contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    }

    .tarjeta {
    width: 23%;
    background: #5b6968b3;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    }

    .footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: white;
    }